body {
   background-color: #ff0000;
}

.serverentry {
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
}


.name {
   font-size: 2em;
}

.summary{
   font-size: 1.5em;
}

.serverentry a {
   font-size: 1.5em;
}